apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: thesis
  labels:
    app: postgres
spec:
  type: ClusterIP # Internal only - database should never be exposed!
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
